/* ===============================================================
 * 	リタワーク 求人詳細ページ｜1日の流れ
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerDailySchedule {
    @include flex-center;
    padding-inline: 4vw;
    padding-bottom: 5em;
    background-color: $base-white;
    @include sp {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        gap: 1.4em 0;
        @include sp {
            gap: 3vw 0;
        }
        h2 {
            @include detail-h2;
            &::before {
                top: 45%;
                width: 2.8rem;
                @include svg-icon-clock(f29400);
                @include sp {
                    width: 6vw;
                }
            }
        }
        .innerList {
            position: relative;
            font-size: inherit;
            background-color: #fff;
            border: 1px solid $main-orange;
            border-radius: $radius24;
            padding: 3em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 6em;
            @include sp {
                width: 100%;
                display: flex;
                flex-direction: column;
                grid-template-columns: unset;
                background-color: transparent;
                border-radius: unset;
                border: unset;
                padding: unset;
                gap: 4vw 0;
            }
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                width: 1px;
                height: calc(100% - 5em);
                background-color: $main-orange;
                @include sp {
                    display: none;
                }
            }
            .boxShiftBlock {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: inherit;
                gap: 1em 0;
                @include sp {
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid $main-orange;
                    border-radius: 4vw;
                    padding: 4vw;
                    gap: 2vw 0;
                }
                h3 {
                    background-color: $main-orange;
                    color: #fff;
                    align-self: flex-start;
                    font-size: fz(18);
                    padding: 0.35em 1em;
                    border-radius: 8px;
                }
                ul {
                    position: relative;
                    font-size: inherit;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    li {
                        position: relative;
                        grid-column: span 2;
                        display: grid;
                        grid-template-columns: subgrid;
                        font-size: inherit;
                        gap: 0 1em;
                        padding-block: 1em;
                        &:not(:last-of-type) {
                            border-bottom: 1px solid #d6d6d6;
                        }
                        .time {
                            color: $main-orange;
                            font-size: fz(16);
                            text-align: right;
                        }
                        .contents {
                            display: flex;
                            flex-direction: column;
                            font-size: inherit;
                            p {
                                font-size: fz(16);
                            }
                        }
                    }
                }
            }
        }
    }
}
