/* ===============================================================
 * 	リタワーク 求人詳細ページ｜職場関連動画
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerJobVideos {
    @include flex-center;
    padding-inline: 4vw;
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: $bg-white;
    .videoList {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        border-radius: $radius24;
        gap: 4em 0;
        font-size: inherit;
        width: 100%;
        @include sp {
            gap: 8vw 0;
        }
        li {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1em 0;
            @include sp {
                gap: 2vw 0;
            }
            h2 {
                position: relative;
                font-size: fz(24);
                padding-left: 1.6em;
                @include sp {
                    font-size: fz(20);

                    // translate: 4vw;
                    padding-left: 10vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 42%;
                    translate: 0 -50%;
                    left: 0;
                    width: 2.8rem;
                    @include svg-icon-camera("f29400");
                    @include sp {
                        width: 7vw;
                    }
                }
            }
            & > div {
                font-size: inherit;
                iframe {
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }
        }
    }
}
