/* ===============================================================
 * 	リタワーク 事業所ページ｜HERO部分 （オレンジ背景部分）
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerFacilityHero {
    position: relative;
    font-size: inherit;
    @include flex-center;
    padding-inline: 4vw;
    padding-top: 5em;
    background-color: $base-white;
    padding-bottom: 3.4rem;
    @include sp {
        padding: 4vw 6vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        font-size: inherit;
        background-color: $main-orange;
        border-bottom-left-radius: $radius80;
        border-bottom-right-radius: $radius80;
        @include sp {
            @include bottom-radius(10vw);
        }
    }
    article {
        max-width: $articleMaxWidth;
        flex-direction: column;
        padding-top: 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        gap: 2.4rem 3.2rem;
        @include sp {
            display: flex;
            flex-direction: column;
            gap: 2vw 0;
        }
        .boxLogo {
            grid-row: span 2;
            @include sp {
                grid-row: unset;
                align-self: center;
            }
            img {
                border-radius: $radius14;
                @include sp {
                    border-radius: 3vw;
                }
            }
        }
        h2 {
            color: #fff;
            font-size: FZ(24);
            font-weight: 500;
            padding-top: 6px;
            @include sp {
                padding-top: 2vw;
                font-size: FZ(20);
            }
        }
        .listJobCategory {
            display: flex;
            font-size: inherit;
            position: relative;
            gap: 0 8px;
            padding-bottom: 7px;
            @include sp {
                padding-bottom: unset;
                gap: 0 1vw;
                justify-content: space-between;
            }
            li {
                position: relative;
                width: 16rem;
                height: 48px;
                background-color: #f3f3f3;
                color: #aba6a1;
                @include flex-center;
                font-size: FZ(18);
                border-radius: 100vmax;
                @include sp {
                    width: unset;
                    font-size: 3vw;
                    height: unset;
                    padding: 0.3em 0;
                    flex: 1;
                }
                &.isActive {
                    background-color: $sub-orange;
                    color: $main-black;
                }
            }
        }
    }
}
