/* ===============================================================
 * 	リタワーク 求人詳細ページ｜事業者名検索
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerHead {
    position: relative;
    font-size: inherit;
    @include flex-center(column);
    padding-inline: 4vw;
    padding-top: 5em;
    background-color: $base-white;
    padding-bottom: 4rem;
    z-index: 2;
    gap: 3.2rem;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        font-size: inherit;
        background-color: $main-orange;
        border-bottom-left-radius: $radius80;
        border-bottom-right-radius: $radius80;
        z-index: -1;
    }
    h2 {
        margin-top: 17px;
        font-size: FZ(28);
        color: #fff;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
    }
    .boxForm {
        position: relative;
        font-size: inherit;
        width: 100%;
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        background-color: $main-orange;
        align-items: center;
        gap: 0 1.4em;
        padding: 0.8em var(--padding-inline);
        @include bottom-radius($radius24);
        .itemInput {
            position: relative;
            flex: 1;
            background-color: #fff;
            border-radius: $radius14;
            height: 2.75em;
            display: flex;
            align-items: center;
            font-size: inherit;
            @include box-shadow;
            padding-left: 3em;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 1.6em;
                width: 1em;
                @include svg-icon-building($color-orange);
                z-index: 1;
            }
            input {
                font-size: FZ(14);
                padding: 0.5em 1em;
                &::placeholder {
                    color: rgba(#726b6299, 0.6);
                }
            }
        }
        button {
            position: relative;
            font-size: inherit;
            width: 3.8rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #fff;
            @include box-shadow;
            margin-right: 0.6em;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 45%;
                @include svg-icon-loupe($color-orange);
            }
        }
    }
}
.containerCardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-inline: 4vw;
    z-index: 1;
    .noSearch {
        @include flex-center;
        font-size: FZ(18);
        flex: 1;
    }
    .cardList {
        max-width: $articleMaxWidth;
        position: relative;
        font-size: inherit;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 2.4rem;
        margin-top: 5rem;
    }
}
