/* ===============================================================
 * 	リタワーク 求人詳細ページ｜事業者名検索
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerHead {
    gap: 3.2rem;
    @include subpage-head;
    @include sp {
        gap: 4vw 0;
    }
    .boxForm {
        position: relative;
        font-size: inherit;
        width: 100%;
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        background-color: $main-orange;
        align-items: center;
        gap: 0 1.4em;
        padding: 0.8em var(--padding-inline);
        @include bottom-radius($radius24);
        @include sp {
            margin-top: 0;
            gap: 0 2vw;
            background-color: #fff;
            padding: 1vw 0;
            border-radius: $radius14;
            @include box-shadow;
        }
        .itemInput {
            position: relative;
            flex: 1;
            background-color: #fff;
            border-radius: $radius14;
            height: 2.75em;
            display: flex;
            align-items: center;
            font-size: inherit;
            @include box-shadow;
            padding-left: 3em;
            @include sp {
                box-shadow: unset;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 1.6em;
                width: 1em;
                @include svg-icon-building($color-orange);
                z-index: 1;
            }
            input {
                font-size: FZ(14);
                padding: 0.5em 1em;
                width: 100%;
                &::placeholder {
                    color: rgba(#726b6299, 0.6);
                }
            }
        }
        button {
            position: relative;
            font-size: inherit;
            width: 3.8rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #fff;
            @include box-shadow;
            margin-right: 0.6em;
            @include sp {
                width: 8vw;
                background-color: $main-orange;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 45%;
                @include svg-icon-loupe($color-orange);
                @include sp {
                    @include svg-icon-loupe("fff");
                }
            }
        }
    }
}
.containerCardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-inline: 4vw;
    z-index: 1;
    background-color: $bg-white;
    @include sp {
        padding: 4vw 4vw 14vw;
    }
    .noSearch {
        @include flex-center;
        font-size: FZ(18);
        flex: 1;
    }
    .cardList {
        max-width: $articleMaxWidth;
        position: relative;
        font-size: inherit;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 2.4rem;
        margin-top: 5rem;
        @include sp {
            margin-top: 0;
            grid-template-columns: unset;
            gap: 6vw 0;
        }
    }
}
