@use "variable" as *;
@use "svg" as *;
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
@mixin box-shadow {
    box-shadow: 3px 3px 2px 0 rgb(178 126 52 / 20%);
}
