/* =================================
 * 	リタワーク TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.containerHead {
    display: flex;
    flex-direction: column;
    background: url("../assets/images/top/head-bg.webp") no-repeat center
        center/cover;
    padding: 5em 0 0;
    @include sp {
        padding: 6vw 0 0;
    }
    .blockTitle {
        font-size: inherit;
        display: contents;
        @include sp {
            display: flex;
            padding: 0 4vw 6vw;
        }
        .boxTitle {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            background-color: rgba(#fff, 0.75);
            align-self: flex-start;
            padding: 5em 8em 5em 5em;
            gap: 1.4em 0;
            @include sp {
                padding: 10vw 4vw 14vw;
                align-items: center;
                gap: 16vw 0;
                width: 100%;
            }
            p {
                font-size: FZ(42);
                letter-spacing: 0.04em;
                @include sp {
                    font-size: FZ(34);
                    line-height: 1.4em;
                    text-align: center;
                }
            }
            span {
                position: relative;
                font-size: FZ(26);
                padding-left: 2.6em;
                letter-spacing: 0.04em;
                @include sp {
                    font-size: FZ(18);
                    padding-left: unset;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    left: 0;
                    width: 2em;
                    background: url("../assets/images/top/head-title-icon.webp")
                        no-repeat center center/contain;
                    aspect-ratio: 340/303;
                    @include sp {
                        top: unset;
                        left: 50%;
                        translate: -50%;
                        bottom: calc(100% + 2vw);
                        width: 3em;
                    }
                }
            }
        }
    }
    .blockHead {
        background-color: rgba($base-pink, 0.9);
        display: flex;
        flex-direction: column;
        margin-top: 8em;
        @include sp {
            margin-top: 0;
        }
        h2 {
            text-align: center;
            @include SunSerif;
            font-size: FZ(22);
            letter-spacing: 0.12em;
            padding-block: 0.8em;
            font-weight: 600;
            background-color: $base-pink;
            @include sp {
                font-size: FZ(16);
            }
        }
        nav {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            max-width: $articleMaxWidth;
            font-size: inherit;
            gap: 0 2em;
            padding: 5em 0 8em;
            @include sp {
                grid-template-columns: repeat(2, 1fr);
                padding: 8vw 4vw;
                gap: 6vw 4vw;
            }
        }
    }
    .blockVision {
        background-color: rgba(#fff, 0.7);
        display: flex;
        justify-content: center;
        padding: 5em 0;
        @include sp {
            flex-direction: column;
            padding: 8vw 4vw;
            gap: 8vw 0;
        }
        .blockInner {
            font-size: inherit;
            display: flex;
            justify-content: space-between;
            max-width: $articleMaxWidth;
            align-self: center;
            z-index: 2;
            gap: 0 3em;
            @include sp {
                display: contents;
            }
            .boxContents {
                background-color: #fcfdc0;
                font-size: inherit;
                padding: 3em 2em;
                width: 55%;
                min-width: 40rem;
                gap: 2em 0;
                display: flex;
                flex-direction: column;
                @include sp {
                    min-width: unset;
                    width: 100%;
                    padding: 4vw;
                    gap: 6vw 0;
                }
                h3 {
                    font-size: FZ(42);
                    @include sp {
                        font-size: FZ(30);
                    }
                }
                p {
                    font-size: FZ(18);
                    text-align: justify;
                    letter-spacing: 0.04em;
                    line-height: 1.8em;
                    @include sp {
                        font-size: FZ(16);
                    }
                }
            }
        }
    }
}
