/* ===============================================================
 * 	リタワーク 転職のヒント
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerHead {
    @include subpage-head;
    &::before {
        z-index: -1;
    }
    .boxSearch {
        width: 100%;
        max-width: $articleMaxWidth;
        margin-top: 3.2rem;
        font-size: inherit;
        @include sp {
            margin-top: unset;
        }
    }
    .innerSearch {
        position: relative;
        font-size: inherit;
        width: 100%;
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        background-color: $main-orange;
        align-items: center;
        gap: 0 1.4em;
        padding: 0.8em var(--padding-inline);
        @include bottom-radius($radius24);
        @include sp {
            margin-top: 4vw;
            gap: 0 2vw;
            background-color: #fff;
            padding: 1vw 0;
            border-radius: $radius14;
            @include box-shadow;
        }
        .itemInput {
            position: relative;
            flex: 1;
            background-color: #fff;
            border-radius: $radius14;
            height: 2.75em;
            display: flex;
            align-items: center;
            font-size: inherit;
            @include box-shadow;
            padding-left: 3em;
            @include sp {
                box-shadow: unset;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: 1.6em;
                width: 1em;
                @include svg-icon-building($color-orange);
                z-index: 1;
            }
            input {
                font-size: FZ(14);
                padding: 0.5em 1em;
                width: 100%;
                &::placeholder {
                    color: rgba(#726b6299, 0.6);
                }
            }
        }
        button {
            position: relative;
            font-size: inherit;
            width: 3.8rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #fff;
            @include box-shadow;
            margin-right: 0.6em;
            @include sp {
                background-color: $main-orange;
            }
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 45%;
                @include svg-icon-loupe($color-orange);
                @include sp {
                    @include svg-icon-loupe("fff");
                }
            }
        }
    }
}
.containerTipsDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.6rem;
    padding-inline: 4vw;
    padding-bottom: 10rem;
    flex: 1;
    @include sp {
        padding: 8vw 4vw 12vw;
    }
    .headAnnounce {
        font-size: FZ(18);
        font-weight: 300;
        @include sp {
            display: none;
        }
    }
    .listTips {
        position: relative;
        display: grid;
        font-size: inherit;
        max-width: $articleMaxWidth;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4.8rem;
        gap: 2.8rem 2.4rem;
        @include sp {
            grid-template-columns: repeat(2, 1fr);
            margin-top: unset;
            gap: 6vw 4vw;
        }
        .boxDetails {
            font-size: inherit;
            grid-row: span 3;
            display: grid;
            grid-template-rows: subgrid;
            .wrapLink {
                font-size: inherit;
                grid-row: span 3;
                display: grid;
                grid-template-rows: subgrid;
                gap: 0;
                .itemImage {
                    position: relative;
                    img {
                        aspect-ratio: 304/230;
                        border-radius: 1.4rem;
                        object-fit: cover;
                        @include sp {
                            border-radius: 4vw;
                        }
                    }
                }
                h3 {
                    padding-inline: 1.3rem;
                    font-size: FZ(20);
                    margin-top: 1.6rem;
                    line-height: 1.4em;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                    @include sp {
                        margin-top: 2vw;
                        padding-inline: unset;
                        font-size: FZ(16);
                        line-height: 1.2em;
                    }
                }
                .summary {
                    padding-inline: 1.3rem;
                    margin-top: 0.8rem;
                    font-size: FZ(14);
                    letter-spacing: 0.1em;
                    text-align: justify;
                    line-height: 1.4em;
                    display: -webkit-box; /* 必須 */
                    -webkit-box-orient: vertical; /* 必須 */
                    -webkit-line-clamp: 2;
                    line-clamp: 2; /* 行数を制限 */
                    overflow: hidden;
                    @include sp {
                        padding-inline: unset;
                        margin-top: 2vw;
                        line-height: 1.2em;
                        -webkit-line-clamp: 4;
                        line-clamp: 4; /* 行数を制限 */
                    }
                }
            }
        }
    }
}
