/* ===============================================================
 * 	リタワーク マイページ
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerHead {
    position: relative;
    font-size: inherit;
    @include flex-center(column);
    padding-inline: 4vw;
    padding-top: 5em;
    background-color: $base-white;
    padding-bottom: 4rem;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        font-size: inherit;
        background-color: $main-orange;
        border-bottom-left-radius: $radius80;
        border-bottom-right-radius: $radius80;
        z-index: -1;
    }
    h2 {
        margin-top: 17px;
        font-size: FZ(28);
        color: #fff;
        font-weight: 500;
        position: relative;
        padding-left: 1.5em;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: 0;
            width: 3.1rem;
            @include svg-icon-loupe("fff");
        }
        span {
            font-size: 0.64em;
            margin-left: 1em;
            display: flex;
            align-items: center;
            translate: 0 0.2em;
            font-weight: 400;
            i {
                font-size: 1.44em;
                display: inline-block;
                translate: 0 -0.05em;
                margin-right: 0.2em;
            }
        }
    }
    .blockFilters {
        position: relative;
        font-size: inherit;
        width: 100%;
        max-width: 1185px;
        margin-top: 2.4rem;
        background-color: $bg-white;
        border-radius: $radius24;
        @include box-shadow;
        padding: 1.1rem 2rem 1.1rem 3rem;
    }
}
.containerJobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-inline: 4vw;
    z-index: 1;
    .noFavorite {
        @include flex-center;
        font-size: FZ(18);
        flex: 1;
    }
    .wrapBtn {
        position: relative;
        align-self: center;
        display: flex;
        align-items: center;
        font-size: inherit;
        padding: 2px;
        @include box-shadow;
        border-radius: $radius8;
        background-color: #fff;
        button {
            position: relative;
            width: 24.5rem;
            height: 44px;
            @include flex-center;
            font-size: FZ(18);
            font-weight: 500;
            border-radius: 7px;
            &.isActive {
                background-color: $main-orange;
                color: #fff;
            }
        }
    }
    .jobsList {
        max-width: $articleMaxWidth;
        position: relative;
        font-size: inherit;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem 2.4rem;
        margin-top: 5rem;
    }
}
