/* ===============================================================
 * 	リタワーク マイページ
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.containerHead {
    z-index: 2;
    position: relative;
    font-size: inherit;
    @include flex-center(column);
    padding-inline: 4vw;
    padding-top: 5em;

    // background-color: $bg-white;
    padding-bottom: 4rem;
    @include sp {
        padding: 8vw 0 0;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        font-size: inherit;
        background-color: $main-orange;
        z-index: -1;
        border-bottom-left-radius: $radius80;
        border-bottom-right-radius: $radius80;
        @include sp {
            @include bottom-radius(10vw);
        }
    }
    h2 {
        position: relative;
        margin-top: 17px;
        font-size: FZ(28);
        color: #fff;
        font-weight: 500;
        padding-left: 1.5em;
        display: flex;
        align-items: center;
        @include sp {
            font-size: FZ(20);
            margin-top: unset;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: 0;
            width: 3.1rem;
            @include svg-icon-loupe("fff");
            @include sp {
                width: 4.6vw;
            }
        }
        span {
            font-size: 0.64em;
            margin-left: 1em;
            display: flex;
            align-items: center;
            translate: 0 0.2em;
            font-weight: 400;
            i {
                font-size: 1.44em;
                display: inline-block;
                translate: 0 -0.05em;
                margin-right: 0.2em;
            }
        }
        &.isConditionHeading {
            padding-left: unset;
            &::before {
                display: none;
            }
            span {
                display: none;
            }
        }
    }
    .blockFilters {
        position: relative;
        font-size: inherit;
        width: 100%;
        max-width: 1185px;
        margin-top: 2.4rem;
        background-color: $bg-white;
        border-radius: $radius24;
        @include box-shadow;
        padding: 1.1rem 2rem 1.1rem 3rem;
        @include sp {
            background-color: transparent;
            padding: 0;
            display: flex;
            flex-direction: column;
            border-radius: 6vw;
            margin-top: 4vw;
            margin-top: 0;
            box-shadow: unset;
        }
        .itemMobileButton {
            display: none;
            @include sp {
                font-size: inherit;
                background-color: $base-white;
                border-radius: 100vmax;
                height: 10vw;
                padding-left: 4vw;
                display: none;
                span {
                    position: relative;
                    font-size: FZ(16);
                    color: $main-orange;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        right: calc(100% + 3vw);
                        width: 4vw;
                        @include svg-icon-loupe($color-orange);
                    }
                }
            }
        }
        .boxMobile {
            font-size: inherit;
            display: contents;
            .innerBoxMobile {
                font-size: inherit;
                display: block;
                @include sp {
                    width: 100%;
                    display: flex;
                    border-radius: 6vw;

                    // overflow: hidden;
                }
            }
            @include sp {
                // margin-top: 4vw;
                display: grid;
                width: 100%;
                grid-template-rows: 1fr;
                transition: 0.3s ease-out;
                &.isOpen {
                    grid-template-rows: 1fr;
                    .innerBoxMobile {
                        overflow: visible;
                    }
                }
            }
        }
    }
    .blockConditionCategories {
        position: relative;
        font-size: inherit;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 2em;
        gap: 0 1rem;
        width: 100%;
        padding-inline: 2em;
        @include sp {
            grid-template-columns: repeat(3, 1fr);
            gap: 2vw;
            margin-top: 4vw;
            margin-bottom: 4vw;
        }
        .itemConditionCategory {
            height: 4.8rem;
            font-size: FZ(18);
            color: $main-black;
            background-color: #fff;
            transition: 0.3s ease-out;
            border-radius: $radius8;
            @include sp {
                height: 8vw;
                font-size: FZ(14);
            }
            @include hover {
                background-color: #ffbd39;
            }
            &:active {
                background-color: $sub-orange;
            }
            &.isActive {
                background-color: $sub-orange;
            }
            &.isInactive {
                background-color: #d6d6d6;
                color: #aba6a1;
            }
        }
    }
}
.containerJobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-inline: 4vw;
    @include sp {
        padding: 8vw 4vw;
    }
    .noFavorite {
        @include flex-center;
        font-size: FZ(18);
        flex: 1;
        min-height: 20rem;
    }
    .wrapBtn {
        @include head-wrap-button;
    }
    .jobsList {
        max-width: $articleMaxWidth;
        position: relative;
        font-size: inherit;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem 2.4rem;
        margin-top: 5rem;
        @include sp {
            grid-template-columns: unset;
            gap: 6vw 0;
            margin-top: 8vw;
        }
    }
}
