/* =================================
 * 	リタワーク FOOTER
 * ------------------------------ */
@use "../../styles/variable" as *;
@use "../../styles/svg" as *;
@use "../../styles/mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerFooter {
    @include flex-center(column);
    padding: 6em 4vw 1em;
    gap: 3em 0;
    @include sp {
        padding: 20vw 4vw 6vw;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        @include top-radius($radius80);
        @include sp {
            @include top-radius(8vw);
        }
    }
    &::before {
        background-color: $main-orange;
    }
    &::after {
        background: url("/images/bg.webp") repeat center center/contain;
        mix-blend-mode: color-dodge;
    }
    .pageTop {
        position: absolute;
        right: 4em;
        top: 3em;
        width: 36px;
        aspect-ratio: 1;
        z-index: 1;
        cursor: pointer;
        @include box-shadow;
        border-radius: 50%;
        @include sp {
            bottom: 6vw;
            top: unset;
            right: 4vw;
        }
        svg {
            aspect-ratio: 1;
            fill: #fff;
            transition: 0.3s ease-out;
        }
        &:hover {
            svg {
                fill: #fff9e3;
            }
        }
        &:active {
            svg {
                fill: #fff;
            }
        }
    }
    .linkOrder {
        position: absolute;
        left: 50%;
        font-size: inherit;
        translate: -50% -2.75em;
        top: 0;
        background-color: $sub-orange;
        width: 100%;
        max-width: 88rem;
        height: 5.5em;
        z-index: 1;
        border-radius: $radius14;
        @include flex-center;
        @include box-shadow;
        transition: 0.3s ease-out;
        @include sp {
            max-width: unset;
            width: 92vw;
            translate: -50% -4vw;
            height: 16vw;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: 2em;
            width: 0.5em;
            @include svg-arrow-right("726b62");
            transition: 0.3s ease-out;
        }
        span {
            font-size: FZ(20);
            line-height: 1em;
            transition: 0.3s ease-out;
        }
        &:hover {
            background-color: #574232;
            &::after {
                @include svg-arrow-right("ffcd39");
            }
            span {
                color: $sub-orange;
            }
        }
        &:active {
            background-color: $sub-orange;
            &::after {
                @include svg-arrow-right("726b62");
            }
            span {
                color: #574232;
            }
        }
    }
    article {
        display: flex;
        justify-content: space-between;
        color: #fff;
        align-items: flex-start;
        gap: 0 3em;
        @include sp {
            justify-content: unset;
            flex-direction: column;
            gap: 6vw 0;
        }
        .boxShopInfo {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 2rem 0;
            .wrapRita {
                font-size: inherit;
                display: flex;
                gap: 0 1.8rem;
                .itemLogo {
                    font-size: inherit;
                    width: 16em;
                    svg {
                        width: 100%;
                        fill: #fff;
                        stroke: unset;
                        aspect-ratio: 275/50;
                        transition: 0.3s ease-out;
                    }
                    &:hover {
                        svg {
                            fill: #574232;
                        }
                    }
                    &:active {
                        svg {
                            fill: #fff;
                        }
                    }
                }
                nav {
                    position: relative;
                    font-size: inherit;
                    display: flex;
                    gap: 0 1em;
                    align-items: center;
                    margin-top: 1.4em;
                    a {
                        position: relative;
                        font-size: inherit;
                        svg {
                            fill: #fff;
                            font-size: inherit;
                            transition: 0.3s ease-out;
                            &.insta {
                                aspect-ratio: 1;
                                width: 1.5em;
                            }
                            &.youtube {
                                aspect-ratio: 28/20;
                                width: 1.65em;
                            }
                        }
                        &:hover {
                            svg {
                                fill: #574232;
                            }
                        }
                        &:active {
                            svg {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
            .wrapKpta {
                display: flex;
                align-items: center;
                background-color: rgba(#fff9e3, 1);
                width: 216px;
                height: 44px;
                border-radius: 8px;
                padding-inline: 2rem;
                padding-block: 1rem;
                gap: 0 1rem;
                transition: 0.3s ease-out;
                span {
                    color: #898989;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: FZ(20);
                    font-weight: 600;
                    flex: 1;
                    border-left: 1px solid;
                    padding-left: 1rem;
                    line-height: 0.9em;
                    translate: 0 0.2rem;
                }
                &:hover {
                    background-color: rgba(#fff9e3, 0.8);
                }
                &:active {
                    background-color: rgba(#fff9e3, 1);
                }
            }
        }
        .listMenu {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(4, 1fr);
            grid-auto-flow: column;
            gap: 0.5em 2em;
            margin-left: auto;
            @include sp {
                width: 100%;
            }
            a {
                font-size: FZ(14);
                transition: 0.3s ease-out;
                &:hover {
                    color: #574232;
                }
                &:active {
                    color: #fff;
                }
            }
        }
        .linkContact {
            border: 1px solid #fff;
            font-size: inherit;
            padding: 0.8em 2em;
            border-radius: $radius14;
            transition: 0.3s ease-out;
            span {
                position: relative;
                font-size: FZ(16);
                font-weight: 700;
                padding-left: 2em;
                transition: 0.3s ease-out;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    left: 0;
                    width: 1.2em;
                    @include svg-icon-plane("ffffff");
                    transition: 0.3s ease-out;
                }
            }
            &:hover {
                background-color: #fff;
                span {
                    color: $main-orange;
                    &::before {
                        @include svg-icon-plane("f29400");
                    }
                }
            }
            &:active {
                background-color: transparent;
                span {
                    color: #fff;
                    &::before {
                        @include svg-icon-plane("ffffff");
                    }
                }
            }
        }
    }
    .copyRight {
        width: 100%;
        display: flex;
        max-width: $articleMaxWidth;
        justify-content: flex-end;
        color: #fff;
        font-size: FZ(12);
    }
}
