/* ===============================================================
 * 	リタワーク フィルターコンポーネント
 * ------------------------------------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
.innerFilters {
    display: flex;
    gap: 0 1rem;
    @include sp {
        flex-direction: column;
        @include box-shadow;
        border-radius: ($radius24);
        z-index: 2;
    }
    .boxFilters {
        position: relative;
        display: grid;
        flex: 1;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px;
        font-size: inherit;
        @include sp {
            // grid-template-columns: unset;
            // grid-auto-flow: row;
            padding: 4vw;
            background-color: $main-orange;
            @include top-radius($radius24);
        }
        .itemFilter {
            position: relative;
            background-color: #fff;
            border-radius: $radius14;
            font-size: inherit;
            @include box-shadow;
            height: 44px;
            display: flex;
            transition: 0.3s ease-out;
            border: 1px solid transparent;
            &:hover {
                background-color: #fffbf4;
                border: 1px solid $main-orange;
            }
            & > button {
                position: relative;
                display: flex;
                width: 100%;
                justify-content: flex-start;
                font-size: FZ(14);
                padding-left: 4em;
                @include sp {
                    padding-left: 14vw;
                    font-size: FZ(18);
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    left: 2rem;
                }
            }
            .wrapFilterList {
                font-size: inherit;
                position: absolute;
                top: 100%;
                right: 0;
                display: grid;
                grid-template-rows: 0fr;
                transition: 0.1s ease-out;
                width: 80%;
                min-width: 28rem;
                .innerFilterList {
                    overflow: hidden;
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .itemFilterList {
                        position: relative;
                        background-color: #fff;
                        font-size: inherit;
                        display: flex;
                        flex-direction: column;
                        padding: 1.6rem 2rem 2.4rem;
                        border: 1px solid $main-orange;
                        border-radius: $radius14;
                        .wrapHead {
                            position: relative;
                            font-size: inherit;
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid #d6d6d6;
                            align-items: center;
                            padding-bottom: 0.8rem;
                            .btnClose {
                                position: relative;
                                width: 32px;
                                border-radius: 50%;
                                aspect-ratio: 1;
                                cursor: pointer;
                                transition: 0.3s ease-out;
                                &::before,
                                &::after {
                                    content: "";
                                    position: absolute;
                                    inset: 0;
                                    margin: auto;
                                    width: 13px;
                                    height: 1px;
                                    background-color: #574232;
                                }
                                &::before {
                                    rotate: -45deg;
                                }
                                &::after {
                                    rotate: 45deg;
                                }
                                &:hover {
                                    background-color: #ffd28a;
                                }
                            }
                            h3 {
                                position: relative;
                                font-size: FZ(18);
                                padding-left: 4rem;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                }
                            }
                        }
                        ul {
                            font-size: inherit;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem 0;
                            margin-top: 1.4rem;
                            @include sp {
                                gap: 4vw;
                            }
                            li {
                                font-size: inherit;
                                display: flex;
                                align-items: center;
                                position: relative;
                                label {
                                    font-size: inherit;
                                    position: relative;
                                    padding-left: 2.8rem;
                                    @include sp {
                                        padding-left: 4vw;
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        translate: 0 -50%;
                                        width: 2rem;
                                        aspect-ratio: 1;
                                        border-radius: 4px;
                                        border: 1px solid $main-orange;
                                    }
                                    span {
                                        font-size: FZ(15);
                                        @include sp {
                                            font-size: FZ(18);
                                        }
                                    }
                                    &:has(input:checked) {
                                        &::before {
                                            background-color: $main-orange;
                                        }
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            translate: 0 -50%;
                                            width: 13px;
                                            @include svg-label-check("fff");
                                            left: 4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.isOpen {
                    grid-template-rows: 1fr;
                }
            }

            // 職種
            &.jobCategory {
                z-index: 2;
                @include sp {
                    z-index: 4;
                    .wrapFilterList {
                        right: unset;
                        left: 0;
                    }
                }
                button {
                    &::before {
                        width: 2.2rem;
                        @include svg-icon-search01("f29400");
                    }
                }
                .wrapFilterList {
                    .innerFilterList {
                        .itemFilterList {
                            h3 {
                                &::before {
                                    top: -1px;
                                    width: 2.5rem;
                                    @include svg-icon-search01("f29400");
                                }
                            }
                        }
                    }
                }
            }

            // エリア
            &.areaField {
                z-index: 2;
                @include sp {
                    z-index: 3;
                }
                button {
                    &::before {
                        width: 1.7rem;
                        @include svg-icon-search02("f29400");
                    }
                }
                .wrapFilterList {
                    .innerFilterList {
                        .itemFilterList {
                            h3 {
                                &::before {
                                    top: -1px;
                                    width: 2rem;
                                    @include svg-icon-search02("f29400");
                                }
                            }
                            .areaGroup {
                                font-size: inherit;
                                display: flex;
                                flex-direction: column;
                                .areaLabel {
                                    font-size: FZ(16);
                                    padding-block: 0.8rem;
                                    display: flex;
                                    align-items: center;
                                    &.areaLabel--kumamoto {
                                        border-bottom: 1px solid #d6d6d6;
                                    }
                                    &.areaLabel--others {
                                        margin-top: 1.8rem;
                                        border-top: 1px solid #d6d6d6;
                                        border-bottom: 1px solid #d6d6d6;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // 雇用形態
            &.employmentType {
                @include sp {
                    z-index: 2;
                    .wrapFilterList {
                        right: unset;
                        left: 0;
                    }
                }
                button {
                    &::before {
                        width: 2.3rem;
                        @include svg-icon-search03("f29400");
                    }
                }
                .wrapFilterList {
                    .innerFilterList {
                        .itemFilterList {
                            h3 {
                                &::before {
                                    width: 2.7rem;
                                    @include svg-icon-search03("f29400");
                                }
                            }
                        }
                    }
                }
            }

            // 給与
            &.salaryField {
                @include sp {
                    z-index: 1;
                }
                & > button {
                    &::before {
                        width: 2rem;
                        @include svg-icon-search04("f29400");
                    }
                }
                .wrapFilterList {
                    .innerFilterList {
                        .itemFilterList {
                            h3 {
                                &::before {
                                    width: 2.4rem;
                                    @include svg-icon-search04("f29400");
                                }
                            }
                            .tabs {
                                position: relative;
                                font-size: inherit;
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                background-color: $bg-white;
                                @include box-shadow;
                                margin-top: 1.2rem;
                                border-radius: 7px;
                                padding: 2px 1px;
                                & > button {
                                    height: 3.6rem;
                                    &.isActive {
                                        background-color: $main-orange;
                                        color: #fff;
                                        border-radius: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.isSelected {
                background-color: #ffd28a;
            }
        }
    }
    .boxBtn {
        font-size: inherit;
        display: flex;
        align-items: flex-end;
        gap: 0 1rem;
        @include sp {
            flex-direction: row-reverse;
            align-items: stretch;
            justify-content: space-between;
            background-color: #fff;
            padding: 3vw 4vw 4vw;
            @include bottom-radius($radius40);
            gap: 0 6vw;
        }
        .btnSearch {
            position: relative;
            width: 9.4rem;
            aspect-ratio: 1;
            background-color: $main-orange;
            font-size: FZ(14);
            font-weight: 700;
            color: #fff;
            border-radius: 0 $radius14 $radius14;
            transition: 0.3s ease-out;
            @include box-shadow;
            @include sp {
                aspect-ratio: unset;
                flex: 1;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 100%;
                width: 5px;
                @include svg-object-radius("f29400");
                transition: 0.3s ease-out;
                @include sp {
                    right: calc(100% - 1px);
                    width: 2vw;
                }
            }
            .statusPc {
                font-size: inherit;
                @include sp {
                    display: none;
                }
            }
            .statusSp {
                display: none;
                @include sp {
                    font-size: inherit;
                    display: inline;
                }
            }
            @include hover {
                background-color: #f8861b;
                &::before {
                    @include svg-object-radius("f8861b");
                }
            }
        }
        .btnReset {
            width: 64px;
            height: 56px;
            background-color: #fff;
            @include flex-center;
            font-size: FZ(12);
            font-weight: 500;
            @include box-shadow;
            border-radius: $radius14;
            transition: 0.3s ease-out;
            @include hover {
                background-color: #f3f3f3;
            }
            @include sp {
                height: unset;
                padding: 1.2em 1.4em;
                width: max-content;
                background-color: #f3f3f3;
                font-size: FZ(14);
            }
        }
    }
}
